{{ define "main" }}
    <div class="container">
        {{ range .Pages }}
            <p> {{ .Title }}
            {{ range $thing := .Params.accepted }}
                {{ $thing }}
            {{ end }}
            </p>
        {{ end }}
    </div>
{{ end }}