{{ define "main" }}
<div class="container">
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="/{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
          <ul>
            {{ range $key, $value := $taxonomy }}
            <li> {{ $key }} </li>
                  <ul>
                  {{ range $value.Pages }}
                      <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                  {{ end }}
                  </ul>
            {{ end }}
          </ul>
        </li>
  {{ end }}
</div>
{{ end }}