<footer style="text-align: center;">
    <p>
        Pull requests accepted on 
        <a href="{{ .Site.Params.repo }}">gitlab</a>.
    </p>
    <p>
        Site maintained by <a href="https://brendanmurphy.xyz">Brendan Murphy</a>
        and <a href="https://jack.engineering">Jack F. Murphy</a>. &#169 
        {{ now.Format "2006" }} 
    </p>
</footer>